[Unit]
Description=ODM PF driver service
After=network.target

[Service]
EnvironmentFile=/etc/odm_pf_driver.cfg
ExecStartPre=/etc/odm_pf_driver_prestart.sh
ExecStart=/usr/local/bin/odm_pf_driver -l 3 -e $ENG_SEL --vfio-vf-token $UUID --num_vfs $NUM_VFS
Restart=always
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
